body {
    margin: 0;
}

img {
    width: 500px;
}

header {
    width: 100%;
    height: 70px;
    background: lightblue;
    font-size: 32px;
    font-weight: bold;
}

ul li {
    font-size: 20px;
    font-weight: bold;
}